body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.noGroupElem{
    color: #F5F5F5;
    font-size: 16px;
    margin-top: 24px;
}

.group {
    width: 450px;
    padding: 18px;
    margin: 32px 0;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);
}

.group-title {
    font-weight: bold;
    padding: 0 8px;
    border-radius: 0px 8px 8px 0px;
    color: #222222;
    width: fit-content;
    outline: none;
    border: none;
    height: 30px;
}

.domain-list {
    padding-left: 0px;
    margin: 0;
}

.group-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.group-title-wrapper .group-edit-button {
    flex-grow: 1;
    background-color: #888888;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    opacity: 0.8;
}

.group-wrapper .group-delete-button {
    background-color: #F5F5F5;
    color: #222222;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
}

.domain-item-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.domain-item-wrapper .domain-item {
    flex-grow: 1;
    border-radius: 8px;
    margin: 6px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.domain-item-wrapper .domain-edit-button {
    background: none;
    color: dark;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
}

.domain-item-wrapper .domain-delete-button {
    background-color: #dddddd;
    color: #222222;
    border: none;
    border-radius: 50px;
    height: 18px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.8;
}

.domain-delete-button{
    padding-bottom: 3px;
}

input[readonly] {
    cursor: default;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.opacity-on-hover:hover {
  opacity: 1;
  transform: translate();
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.group-color-dropdown {
    padding: 0 0 0 8px;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    margin-right: 0px;
    outline: none;
    border: none;
    border-right: 1px solid #F5F5F5;
    height: 30px;
}

.footer-section{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    font-size: 16px;
}

.footer-item {
    margin-left: 16px;
    color: #888888;
    text-decoration: none;
    transform: translate();
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.footer-item:hover {
    color: #555555;
}

.settings-item {
    margin: 16px 0;
    font-size: 14px;
    color: #283739;
    background-color: #ffffff;
}

.settings-item label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#autocollapseToggle {
    transform: scale(1.2);
    margin-right: 8px;
    cursor: pointer;
}

.right-bar{
    padding-right: 16px;
    border-right: 1px solid #777777;
}