body {
  font-family: sans-serif;
  padding: 18px;
  width: 280px;
  font-size: 14px;
  background-color: #F5F5F5;
  color: #222222;
}

button {
  padding: 8px;
  background-color: #283739;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
  transform: translate();
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

button:hover {
  background-color: #228896;
}

.text-btn {
  cursor: pointer;
  color: #283739;
  font-weight: 500;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
}

.input-box{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #F5F5F5;
  color: #222222;
}

.select-box{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #F5F5F5;
  color: #222222;
}

.create-group-input-wrapper{
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.save-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

label{
  font-weight: 600;
  margin-bottom: 8px;
}

#openOptions {
  cursor: pointer;
}