body {
  font-family: sans-serif;
  padding: 18px;
  width: 380px;
  font-size: 14px;
  background-color: #333;
  color: #dddddd;
}

button {
  padding: 8px;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
}

button:hover {
  background-color: #1565c0;
}

.text-btn {
  cursor: pointer;
  color: #1d4ed8;
  font-weight: 500;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
}

.input-box{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #333;
  color: #dddddd;
}

.select-box{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #333;
  color: #dddddd;
}

.create-group-input-wrapper{
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.save-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

label{
  font-weight: 600;
  margin-bottom: 8px;
}